services:
  noor-exhibition-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: noor-exhibition-app
    restart: unless-stopped

    env_file:
      - .env

    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
      - NODE_ENV=production

    volumes:
      - ./prisma:/app/prisma

    networks:
      - proxy

networks:
  proxy:
    external: true
    name: proxy
